{% extends "base.html" %}

{% block page %}

<div>
    {% if 'error' in message %}
    <div class="alert alert-danger" role="alert">
        {{ message['error'] }}
    </div>
    {% endif %}

    <p><h1>Overview</h1></p>
    </br>
    <p><h3>Settings</h3></p>
    <p><b>Data file:</b> <code>{{ data['data_file'] }}</code></p>
    <p><b>Data ID column:</b> <code>{{ data['data_id_column'] }}</code></p>
    <p><b>Data columns:</b> <code>{{ data['data_columns'] }}</code></p>
    <p><b>Cluster file directory:</b> <code>{{ data['cluster_file_dir'] }}</code></p>
    <p><b>Status file:</b> <code>{{ data['status_file'] }}</code></p>
    <p><b>Cluster name column:</b> <code>{{ data['cluster_name_column'] }}</code></p>
    <p><b>Maximum number of records to show (Merge mode):</b> <code>{{ data['max_num_of_records'] }}</code></p>
    {%  if 'mode' not in data %}
    </br>
    <form method="post" action="/initialize">
    <p><h3>Mode selection</h3></p>
    <p>The annotation will be based on:
    <select class="form-select" aria-label="Default select example" name="select-cluster-file">
        <option selected>Select a cluster file ...</option>
        {% for fn in data['cluster_file_list'] %}
        <option value="{{ fn }}">{{ fn }}</option>
        {% endfor %}
    </select>
    </p>
    <p>Please select a mode to start with.</p>
    <p>
    <div class="d-grid gap-2 col-6 mx-auto">
      <input type="submit" class="btn btn-success" name="mode" value="Split" />
      <input type="submit" class="btn btn-outline-success" name="mode" value="Merge" />
    </div>
    </p>
    </form>
    {% else %}
    </br>
    <p><h3>Status</h3></p>
    <p><b>Mode:</b> <span class="text-success">{{ data['mode'].capitalize() }}</span></p>
    <p><b>Cluster file:</b> <code>{{ data['cluster_file'] }}</code></p>
    <p><b># of clusters:</b> {{ data['num_of_clusters'] }}</p>
    <p><b># of ignored clusters:</b> {{ data['num_of_ignored_clusters'] }}</p>
    <p><b># of annotated clusters:</b> {{ data['num_of_annotated_clusters'] }}</p>
    <p><b># of remaining clusters:</b> {{ data['num_of_remaining_clusters'] }}</p>
    <p><b>Progress:</b> {{ data['progress'] }}</p>
    <p>
        {% if data['next_cluster_id'] %}
        <a href="/{{ data['mode'] }}/{{ data['next_cluster_id'] }}"><button type="button" class="btn btn-success">Start Annotating</button></a>
        {% endif %}
        <a href="/progress"><button type="button" class="btn btn-secondary">Review Progress</button></a>
    </p>
    {% endif %}
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#select-cluster-file').on('click', function() {
        $('#cluster-file').trigger('click');
    });
});
</script>
{% endblock %}