{% extends "base.html" %}

{% block page %}

<div>
    {% if 'error' in message %}
        <div class="alert alert-danger" role="alert">
            {{ message['error'] }}
        </div>
    {% endif %}

    <p><h1>Progress</h1></p>
    <p>
        <div class="row g-5">
          <div class="col-md-12 overflow-auto">
              <table id="table" class="table table-hover"
                     data-toggle="table"
                     data-search="true"
                     data-show-columns="false"
                     data-sortable="true"
                     data-sort-reset="true"
                     data-sort-name="size"
                     data-sort-order="desc"
                     data-buttons="table_buttons">
              <thead>
                <tr>
                    <th scope="col">Cluster</th>
                    <th scope="col" data-sortable="true">Name</th>
                    <th scope="col" data-sortable="true" data-field="size">Size</th>
                    <th scope="col" data-sortable="true" data-field="status">Status</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for cid, prop in data['clusters'].items() %}
                <tr>
                  <td scope="row">{{ cid }}</td>
                  <td scope="row">{{ prop['name'] }}</td>
                  <td scope="row">{{ prop['size'] }}</td>
                  <td scope="row">{{ prop['status'] }}</td>
                  <td scope="row"><a href="/{{ data['mode'] }}/{{ cid }}">Edit</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </p>
    <p>
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#confirm-generate">Generate clusters</button>
        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#confirm-discard">Discard all</button>
    </p>

    <!-- Modal -->
    <div class="modal fade" id="confirm-generate" tabindex="-1" aria-labelledby="confirm-generate-label" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/generate" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-generate-label">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">
                        <label for="new-cluster-file-name" class="col-form-label">New cluster file name:</label>
                        <input type="text" size=255 class="form-control" id="new-cluster-file-name" name="new-cluster-file-name" />
                    </p>
                    <p><ul>
                    <li>By clicking "Yes", the annotations will be used to generate the new clusters. This can NOT be undone.</li>
                    <li>All un-annotated clusters will be kept as-is.</li>
                    <li>If the file with same name exists, it will be overwritten.</li></ul></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <input type="submit" class="btn btn-success" name="submit" value="Yes"/>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="confirm-discard" tabindex="-1" aria-labelledby="confirm-generate-label" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/discard" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm-generate-label">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to discard all the annotations? This can NOT be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <input type="submit" class="btn btn-success" name="submit" value="Yes"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
var table = $('#table');
var LS_KEY = 'progress-table-only-show-unannotated';
var ICON_SHOW = 'bi-eye-fill';
var ICON_HIDE = 'bi-eye-slash-fill';

$(function() {
    table.bootstrapTable();
    // $table.removeClass('table-bordered');
})

function table_buttons () {
    return {
        btn_toggle_status: {
            text: 'Toggle Status',
            iconsPrefix: 'bi',
            icon: ICON_HIDE,
            event: function () {
                if(!localStorage.getItem(LS_KEY)) {
                    localStorage.setItem(LS_KEY, 'on');
                } else {
                    localStorage.removeItem(LS_KEY);
                }
                apply_progress_table_status();
            },
            attributes: {
                title: 'Toggle Status' // tooltip
            }
        }
    }
}

function apply_progress_table_status() {
    var icon = $('button[name=btn_toggle_status] > i');
    if (localStorage.getItem(LS_KEY) === 'on') {
        table.bootstrapTable('filterBy', {status: ['']});
        icon.removeClass(ICON_HIDE);
        icon.addClass(ICON_SHOW);
    } else {
        table.bootstrapTable('filterBy', {});
        icon.removeClass(ICON_SHOW);
        icon.addClass(ICON_HIDE);
    }
}

$(document).ready(function(){
    apply_progress_table_status();
});

</script>
{% endblock %}
